.App {
  display: flex;
  /* grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr; */
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  /* grid-area: header;
  padding-left: 16px;
  padding-top: 32px; */
}

.App-link {
  color: #09d3ac;
}
